.navbar {
    background-color: #c71585;
    /* Dark pinkish color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #ad1457;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 5px;
}

.nav-link:hover {
    background-color: #ad1457;
    /* Slightly darker shade */
}